.Info {
  padding: 1.5rem 2rem;
}

.Info table {
  border-collapse: collapse;
}
.Info td, th {
  padding: .5rem;
}

.used {
  cursor: pointer;
}
.used:hover {
  opacity: .8;
}
.unused {
  color: #999;
}
.unused:nth-child(odd) {
  background: #efefef;
}

/* Register colors */

.reg {
  border-radius: 3px;
}
.reg-hover {
    animation-name: flash-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes flash-animation {  
    from { background: white; }
    to   { background: default; }
}
.reg-d0 {
  background: orangered;
  color: black;
}
.reg-d1 {
  background: orange;
  color: black;
}
.reg-d2 {
  background: yellow;
  color: black;
}
.reg-d3 {
  background: greenyellow;
  color: black;
}
.reg-d4 {
  background: cyan;
  color: black;
}
.reg-d5 {
  background: deepskyblue;
  color: black;
}
.reg-d6 {
  background: violet;
  color: black;
}
.reg-d7 {
  background: magenta;
  color: black;
}
.reg-a0 {
  background: orangered;
  color: white;
}
.reg-a1 {
  background: darkorange;
  color: white;
}
.reg-a2 {
  background: goldenrod;
  color: white;
}
.reg-a3 {
  background: darkgreen;
  color: white;
}
.reg-a4 {
  background: darkcyan;
  color: white;
}
.reg-a5 {
  background: blue;
  color: white;
}
.reg-a6 {
  background: violet;
  color: white;
}
.reg-a7 {
  background: magenta;
  color: white;
}

